
<mat-card class="card-container">
    <div fxLayout="column" fxLayoutAlign="center start">
    <span class="card-font">City: {{apiData?.name}} </span>
    <span class="card-font">Avg Temp: {{avgTemp | number:'1.0-1'}} °K </span>
    <span class="card-font">Wind Speed: {{apiData?.wind?.speed | number:'1.0-1'}} m/sec </span>
    <button *ngIf="!clickForecast" (click)="displayForecast()" mat-raised-button color="primary">Forecast</button>
    </div>
</mat-card>
