<div fxLayout="column" fxLayoutAlign="center center" class="top-container">
    <div class="heading"><h1>Welcome to The Weather App</h1></div>
    <mat-card class="card-size">
        <mat-card-content>
            <mat-form-field>
                <mat-label>Select City</mat-label>
                <mat-select (selectionChange)="getCurrentWeather($event.value)">
                  <mat-option *ngFor="let city of cities" [value]="city">
                    {{city.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </mat-card-content>
    </mat-card>

        <div fxLayout="column" class="dc-container">
          <div #parent></div>
        </div>
    </div>