.aligner {
    display: flex;
    justify-content: center;
}
.card-size {
    width: 200px;
    margin: 20px;
}
.dc-container {
    background-color: rgb(83, 95, 112);
    width: 100%;
    display:flex;
    justify-content: center;
}

.top-container {
    background-color: rgb(83, 95, 112);
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 163, 110);
}