<mat-card class="card-size" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div class="f-font" fxFlex=33.33><h4>Time</h4></div>
    <div class="f-font" fxFlex=33.33><h4>Average Temperature °K</h4></div>
    <div class="f-font" fxFlex=33.33><h4>Wind Speed m/sec</h4></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between stretch" *ngFor="let data of mapData">
      <div class="f-font" fxFlex=33.33>{{data?.time | date: 'medium'}}</div>
      <div class="f-font" fxFlex=33.33>{{data?.avgTemp | number:'1.0-1'}}</div>
      <div class="f-font" fxFlex=33.33>{{data?.windSpeed | number:'1.0-1'}}</div>
      </div>
</mat-card>
